<form action="/users/sign-up" method="post" class="cat-form">
    <h2>Sign Up</h2>
    <label for="username">Username</label>
    <input name="username" type="text" id="username" value="{{username}}">
    <label for="email">Email</label>
    <input name="email" type="email" id="email" value="{{email}}">
    <label for="password">Password</label>
    <input name="password" type="text" id="password">
    <label for="confirm">Repeat Password</label>
    <input name="confirm" type="text" id="confirm">
    <button type="submit">Register</button>
</form>